<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href={% static "quotes/style.css" %} > 
    <title>HW10</title>
</head>

<body>
    <div class="container">
        <div class="row header-box w-auto p-3" >
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                
                    <a href="{% url 'users:signup' %}" class="btn btn-secondary">SiginUp</a>
                    <a href="{% url 'users:login' %}" class="btn btn-secondary">Login</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-secondary">logout</a>
                    <a href="{% url 'quotes:author_add' %}" class="btn btn-secondary">ADD AUTHOR</a>
                    <a href="{% url 'quotes:quote_add' %}" class="btn btn-secondary">ADD Quote</a>
                
                </p>
            </div>
        </div>
    

{% block content %} {% endblock %}

    </div>
</body>

</html>